@model W98.Models.LecturerClaim

<h2>Delete Lecturer Claim Confirmation</h2>

<h3>Lecturer Claim deleted successfully!</h3>

<p>The lecturer claim for @Model.Name @Model.Surname has been deleted.</p>

<p>
    <a asp-action="Details" class="btn btn-primary">Back to List</a>
</p>
