@model W98.Models.Check_login


@{

    ViewData["Title"] = "Login Page";
}
<h1>Login as Lecturer</h1>

<div class="text-center">

    <form asp-action="login_user" method="post">

        <label>Email: </label>
        <input type="email" asp-for="email" required />

        <br />

        <label>Select Role: </label>
        <select asp-for="role">
            <option selected disabled>select role here</option>
            <option value="lecturer">Lecturer</option>
            <option value="pm">PM</option>
        </select>

        <br />

        <label>Password: </label>
        <input type="password" asp-for="password" required />

        <br />
        <input type="submit" value="Login" />

    </form>


</div>

